/* Useful STUFF */

/* Colors
rgba(68, 150, 32, 0.4)
/* STYLING */

nav li a {
  display: block;
  text-decoration: none;
  color: black;
}

a:hover,
h2 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.homePromt {
  background-color: #224e6a;
}

/*Header */

#burgerMenu {
  display: none;
}

nav {
  display: none;
}

#burgerMenu:checked ~ nav {
  display: block;
}

footer {
  background-color: #224e6a;
}

img {
  width: 100%;
  height: auto;
}

/* Layout */

.headContainer {
  display: flex;
  flex-direction: row;
  background-color: rgba(68, 150, 32, 0.4);
}

.homePromt {
  display: flex;
  min-height: 50px;
  position: relative;
  top: -5px;
  justify-content: space-between;
}

.homePromt button {
  margin: auto 15px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.homeSection {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 0 auto;
}

.textBlock {
  margin: 0 auto;
}

h1,
h2,
h3,
footer p {
  text-align: center;
}

th {
  text-align: left;
}

table {
  margin: auto;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer section {
  flex: 2 1 auto;
}

.footHours {
  flex-shrink: 0;
}
.copy {
  padding: 15px;
}

.ftTable,
footer p,
footer h2 {
  color: white;
}

/* EXPLORE/Exhibitions STYLING */

.listStyling {
  display: table;
  margin: 0 auto;
}

.horList li {
  display: inline;
}

@media only screen and (min-width: 768px) {
  .homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .homeSection {
    flex-basis: 33%;
    flex-grow: 1;
    width: 66%;
    padding: 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
  }

  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
  }
  header nav {
    clear: none;
    float: right;
    max-height: none;
  }
  header .fa-bars {
    display: none;
  }
}
