/* Useful STUFF */

/* Colors
rgba(68, 150, 32, 0.4)
/* STYLING */

/* EXPLORE/Exhibitions STYLING */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.listStyling {
  display: table;
  margin: 0 auto;
}

* {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

li,
.welcomeMessage,
.homePromt {
  font-size: 2vh;
}

h1,
h2 {
  color: #449620;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

img {
  width: 100%;
  height: auto;
}

.iconImg {
  height: 5vh;
  width: auto;
}

nav a:hover,
.CTA-1:hover,
.CTA-2:hover,
footer h2,
.active,
.homeContainer h2 {
  text-decoration: underline;
}

/*HEADER*/
.stickyBox {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
.hContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(68, 150, 32, 0.4);
  padding-left: 1vh;
  padding-right: 1vh;
}

#burgerMenu {
  display: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}

.logoimg {
  max-width: 90%;
}

.hWrap {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;

  align-items: center;
  justify-content: center;
}

.hBlock-1 {
  flex-basis: 90%;
}

.hBlock-2 {
  flex-basis: 10%;
  text-align: right;
  flex-shrink: 1;
}

.hBlock-3 {
  align-items: center;
  flex-basis: 100%;
}

#navMen ul {
  display: none;
}

#burgerMenu:checked ~ #navMen ul {
  display: flex;
  flex-direction: column;
}

/* MAIN */

.welcomeStyling {
  position: relative;
}

.wmWrap {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  bottom: 1vh;
  left: 1vh;
  height: 20%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.brain {
  height: 10vw;
  width: 10vw;
}
.wmWrap:hover {
  background-color: black;
}

.test {
  visibility: hidden;
}

.welcomeMessage {
  color: white;
  padding: 1vh;
  font-size: 1.8vw;
  width: 100%;
  height: 100%;
}

.homePromt {
  background-color: #224e6a;
  height: 5vw;
  background-image: url(../images/logoimg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: 1vh 2vh;
}

footer {
  background-color: #224e6a;
}

.homePromt {
  display: flex;
  min-height: 50px;
  position: relative;
  top: -5px;
  justify-content: space-between;
  align-items: center;
}

.CTA-1,
.CTA-2 {
  color: white;
  font-size: 3vh;
  padding-left: 5vw;
  padding-right: 2vw;
  font-weight: bolder;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}

.homeSection {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.homeSection p,
.homeSection h2 {
  padding: 2vh;
}

.homeSection img {
  margin-top: 3vh;
}

.homeSection h1 {
  padding-top: 2vh;
}
.textDec {
  width: 50%;
  margin: auto;
}

.cta {
  background-color: #449620;
  border-radius: 8px;
  width: 20vh;
  height: 4vh;
  margin: auto;
  font-size: 16px;
  margin-bottom: 2rem;
}

.cta:hover {
  font-weight: bolder;
}

.cta a {
  color: white;
  margin: auto;
}

.hSecStyling {
  background-color: rgba(68, 150, 32, 0.2);
  border-radius: 0px 0px 8px 8px;
}

.textBlock {
  margin: 0 auto;
}

h1,
h2,
h3,
footer p {
  text-align: center;
}

th {
  text-align: left;
}

table {
  margin: auto;
}

/*Footer*/

.footerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.copy {
  padding: 15px;
}
footer h2 {
  padding-bottom: 1vh;
}

footer section,
footer p {
  font-size: 1.5vw;
}

footer p {
  padding: 0.2vh;
}

.ftTable,
footer p,
footer h2 {
  color: white;
}

.ftTable,
footer h2 {
  text-align: left;
}

footer {
  position: relative;
}

/*

.sMediaIcons {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 20%;
  left: 2.5%;
  z-index: 1500;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid yellow;
}
.sMediaIcons img {
  width: 100%;
  border: 2px solid black;
}

*/

@media only screen and (max-width: 768px) {
  .hList li {
    border-bottom: 1px solid black;
    padding: 0.5vh;
  }

  .CTA-1,
  .CTA-2 {
    color: white;
    font-size: 2.5vh;
    padding-left: 4vh;
    padding-right: 2vh;
    font-weight: bolder;
  }
}

/* TABLET STYLING*/

@media only screen and (min-width: 768px) {
  #navMen ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1vh;
  }

  header .fa-bars {
    display: none;
  }

  nav a {
    font-size: 2vw;
  }
}

/*DESKTOP STYLING*/
@media only screen and (min-width: 1400px) {
  /* HEADER DESKTOP */

  .hContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
  }

  nav a {
    font-size: 1.5vw;
  }

  .hWrap {
    flex-basis: 35%;
  }
  .hBlock-1 {
    flex-basis: 100%;
  }
  .hBlock-2 {
    display: none;
  }
  .hBlock-3 {
    flex-basis: 65%;
  }

  nav ul {
    flex-basis: 100%;
    justify-content: space-evenly;
  }

  footer section,
  footer p {
    font-size: 1.2vw;
  }
}
