/* Useful STUFF */

/* Colors
rgba(68, 150, 32, 0.4)
/* STYLING */
/*
nav li a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

a:hover,
h2 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.homePromt {
  background-color: #224e6a;
}

h1,
h2 {
  color: #449620;
}

/*Header */

/*
#burgerMenu {
  display: none;
}

nav {
  display: none;
}

#burgerMenu:checked ~ nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  background-color: #224e6a;
}

/*
img {
  width: 100%;
  height: auto;
}

*/
/* Layout */
/*

.headContainer {
  display: flex;
  flex-direction: row;
  background-color: rgba(68, 150, 32, 0.4);
}

.homePromt {
  display: flex;
  min-height: 50px;
  position: relative;
  top: -5px;
  justify-content: space-between;
  align-items: center;
}

.homePromt button {
  margin: auto 15px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.homeSection {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 0 auto;
}

.textBlock {
  margin: 0 auto;
}

h1,
h2,
h3,
footer p {
  text-align: center;
}

th {
  text-align: left;
}

table {
  margin: auto;
}

.footerContainer {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

footer section {
  flex: 1 1 10px;
}
.copy {
  padding: 15px;
}

.ftTable,
footer p,
footer h2 {
  color: white;
}

/* EXPLORE/Exhibitions STYLING */

.listStyling {
  display: table;
  margin: 0 auto;
}
/*
.horList li {
  display: inline;
}
/*
@media only screen and (min-width: 768px) {
  .homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .homeSection {
    width: 33%;
    padding: 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
  }
/*
  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
  }
  header nav {
    clear: none;
    float: right;
    max-height: none;
  }
  header .fa-bars {
    display: none;
  }

  .footerContainer {
    justify-content: center;
  }
}

*/

body {
  margin: 0;
}

/*HEADER*/

.hContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(68, 150, 32, 0.4);
  padding-left: 1vh;
  padding-right: 1vh;
}

#burgerMenu {
  display: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.logoimg {
  max-width: 90%;
}

.hWrap {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;

  align-items: center;
  justify-content: center;
}

.hBlock-1 {
  flex-basis: 90%;
}

.hBlock-2 {
  flex-basis: 10%;
  text-align: right;
  flex-shrink: 1;
}

.hBlock-3 {
  align-items: center;
  flex-basis: 100%;
}

#navMen ul {
  display: none;
}

#burgerMenu:checked ~ #navMen ul {
  display: flex;
  flex-direction: column;
}

/* TABLET STYLING*/

@media only screen and (min-width: 768px) {
  #navMen ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  header .fa-bars {
    display: none;
  }
}

/*DESKTOP STYLING*/
@media only screen and (min-width: 1280px) {
  /* HEADER DESKTOP */
  .hContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hWrap {
    flex-basis: 60%;
  }
  .hBlock-1 {
    flex-basis: 100%;
  }
  .hBlock-2 {
    display: none;
  }
  .hBlock-3 {
    flex-basis: 40%;
  }

  nav ul {
    flex-basis: 100%;
    justify-content: space-evenly;
  }
}
